
.DS_Store
*.pyc
code/.ipynb_checkpoints/Cardenas_strat-checkpoint.ipynb
code/.ipynb_checkpoints/Grand_Canyon_orientations-checkpoint.ipynb
code/.ipynb_checkpoints/Grand_Canyon_pmag-checkpoint.ipynb
data/pmag_new/Death_Valley_thermal_demag_a/demag_last_session.redo
data/pmag_new/Death_Valley_thermal_demag_b/demag_last_session.redo
data/pmag_new/Death_Valley_thermal_demag_b/demag_last_session.redo
data/pmag_new/Grand_Canyon_thermaL_demag/demag_last_session.redo
figure/field_photo.pdf
data/pmag_new/Grand_Canyon_thermaL_demag/demag_last_session.redo
data/pmag_new/Death_Valley_thermal_demag_b/demag_last_session.redo
manuscript/field_photo.pdf
